h1{
    color: midnightblue;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
h2{
    color: aqua;
    text-align: center;

    
}
body{
    background-color: crimson;
}